*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner pars start form here */

.banner-section{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url("../assets/Hero-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-section>h1{
    margin-top: 20px;
}

.banner-section>p{
    margin: 30px;
    text-align: center;
    font-size: 20px;
}

.banner-section>button{
    background-color:rgb(13, 19, 33);
    color: white;
    padding: 7px 10px;
    font-size: 20px;
    border-radius: 5px;
}
/* banner pars end form here */


/* -------------------------Why Web Development?? start here -------------------*/

.why-web-section{
    width: 70%;
    margin: 0 auto;
    padding: 50px;
    color: rgb(13, 19, 33);
}

.description-box{
    text-align: center;
}

.description-box>p{
    font-size: 25px;
}

.title{
    font-size: 50px;
}

.description-box>p{
    margin: 20px;
}

.why-web-section{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.why-web-des-container{
    /* background-color: rgb(255, 255, 255) rgba(255, 255, 255, 0); */
   background-color: white;
   border-radius: 5px;
    width: 1000px;
     height: 240px;
    display: flex;
    color: rgba(13, 19, 33, 0.7);
    margin: auto;
    justify-content: space-between;
}
.bg-color{
    background-color: rgb(248, 248, 240);
    margin-top: 20px;
    margin-bottom: 20px;
}
.why-i-will-do {
padding: 50px 100px;
}
.btn-learn{
    padding: 5px 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    color: rgba(13, 19, 33, 0.7);
    font-size:20px;

}
    
/* ------------------Why Web Development?? end here -------------------*/

 /* < !--==============My Inspiration part style start here==================--> */

 .My-Inspiration-section{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(248, 248, 244);
 }
 .My-Inspiration-section>h1, p{
    text-align: center;
 }
 .My-Inspiration-section>p{
    margin: 20px;
 }
 .iframe{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
 }
/* < !--==============My Inspiration part end here==================--> */


/* my current target start */
.current-container{
    width: 1140px;
    height: 460px;
    margin: 100px auto;
    text-align: center;
}
.current-title{
    margin: 30px 10px;
}
.target-step-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: rgb(238, 244, 242);
}
.step1,.step2,.step3{
    padding: 30px;
    text-align: left;
    border-radius: 10px;

}
.step1{
    background-color: rgb(221, 202, 176);
}
.step2{
    background-color: antiquewhite;
}
.step3{
    background-color: rgb(184, 181, 177);
}
.target-step-container div h1{
    margin: 15px 0;
}
.target-step-container div p{
    margin-bottom: 15px;
    font-size: 18px;
    color: rgba(13, 19, 33, 0.7);
    text-align: left;
}
.target-step-container div a{
    font-size: 25px;
}

/* my current target end */